body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.Login {
  width: 500px;
  margin: 30px auto;
  text-align: center;
  background-color: #63CEC2;
  padding: 1em;
}

.Login input {
  margin: 1em;
}
